{* first_page_contents.tpl *}
<p class="description">
	We hope you have fun developing TShirtShop, the e-commerce store from Beginning PHP and MySQL E-Commerce: From Novice to Professional!
</p>
<p class="description">
	We have the largest collection of t-shirts with postal stamps on Earth! Browse our departments and categories to find your favorite!
</p>
{include file="products_list.tpl"}