/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0; /* was 0 */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
/*
.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 830px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  /*float: left;
  border-bottom-width: 0;
}
*/

#search {
  display:none;
}

#gridTableContainer table {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

#gridTableContainer table thead {
  position: static;
  display: block;
  width: 90%;
  overflow: visible;
}

.gridTableHeadings table thead th:nth-child(1) {
  width: 93%;
}

.gridTableHeadings table thead th:nth-child(2) {
  width: 14%;
}

.gridTableHeadings table thead th {
  height: 310px;
  /*min-width: 22px; */
  white-space: nowrap;
}

.gridTableHeadings table thead th.rotate > div {
  transform:
    /* Magic Numbers left side distance, bottom to top distance, higher brings it down*/
    translate(57px, 133px)
    /* 45 is really 360 - 60 was 300deg*/
    rotate(291deg);
  width: 33px;
}

#gridTableContainer table tbody {
  position: relative;
  display: block; /*turning off removes scroll bar usage*/
  width: 97%;
  height: 290px;
  overflow-y: scroll;
}

#gridTableContainer table tbody td {
  min-width: 27px;
}

#gridTableContainer table tbody td:nth-child(1) {
  position: relative;
  height: 25px;
  width: 88%;
  font-size: 9pt;
}

#gridTableContainer table tbody td:nth-child(2) {
  position: relative;
  width: 16%;
  font-size: 9pt;
}


/*
.gridTableHeadings thead tr {
  top: 100;
  max-height: 100px;
  border: 1px solid blue;
}

.gridTableHeadings thead tr th div{
  position: absolute;
  z-index: 2;
}
.gridTableHeadings tr th div{
  position: absolute;
  z-index: 2;
}



.gridTableHeadings th.rotate > div > span {
  /* border-bottom: 1px solid black; */
  /* padding: 1px 1px; */
}
*/
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.checkbox-inline{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    display: inline-block;
}

#testGridContainer table {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

#testGridContainer table thead {
  position: static;
  display: block;
  width: 90%;
  overflow: visible;
}

.testGridHeadings table thead th:nth-child(1) {
  width: 47%;
}

.testGridHeadings table thead th:nth-child(2) {
  width: 14%;
}

.testGridHeadings table thead th {
  height: 310px;
  /*min-width: 22px;*/
  white-space: nowrap;
}

.testGridHeadings table thead th.rotate > div {
  transform: /**/
    /* Magic Numbers left side distance, bottom to top distance, higher brings it down*/
    translate(-14px, 140px) /**/
    /* 45 is really 360 - 60 was 300deg*/
    rotate(300deg); /**/
  width: 25px; /**/
}

#testGridContainer table tbody {
  position: relative;
  display: block; /*turning off removes scroll bar usage*/
  width: 90%;
  height: 290px;
  overflow-y: scroll;
}

#testGridContainer table tbody td {
  min-width: 27px;
}

#testGridContainer table tbody td:nth-child(1){
  position: relative;
   /* display: block;on compresses the data table*/
  height: 25px;
  width: 50%; /*makes checkboxes fill across completely - good if nth-child is 1*/
}

#testGridContainer table tbody td:nth-child(2){
  position: relative;
   /* display: block;on compresses the data table*/
  width: 16%; /*makes checkboxes fill across completely - good if nth-child is 1*/
}


/*
#testGrid {
  height: 600px;
  overflow-y: auto;
}

#testGrid table { /* heading row
  width: 100%;
  border: 1px solid red;
}

#testGrid table > thead {
  width: 100%;
  border: 1px solid blue;
  font-size: 10pt;
}

#testGrid table thead th div span {
  white-space: nowrap;
  vertical-align: bottom;
}

#testGrid th.rotate > div {
  transform: translate(0px, -10px) rotate(300deg);

  height: 10px;
}
/*
#testGrid.wrap {

}

#testGrid.wrap td div {
/*  table-layout: fixed;
  width: 100%;
  transform: translate(0px, 0px) rotate(300deg);
  white-space: nowrap;
  font-size: 10pt;
}
*/
/*
table.gridTableContainerTest tr td { /* heading row borders 
  padding: 5px;
  border: 1px solid green;
  width: 100%;
}

#gridTableContainerTest tr td { /* heading row
  background: #eee;
}



#inner_table tbody tr td {
  max-width: 20px;
}
*/
/*
.wrap td.rotate {
  /* Something you can count on
  height: 310px;
  white-space: nowrap;
  border: 1px solid black;
}

#gridTableHeadingsTest td.rotate {
  /* Something you can count on
  height: 310px;
  white-space: nowrap;
}

#gridTableHeadingsTest td.rotate > div {
  transform:
    /* Magic Numbers left side distance, bottom to top distance, higher brings it down 
    translate(0px, 240px)
    /* 45 is really 360 - 60 was 300deg 
    rotate(300deg);
  width: 22px;
    font-size: 10pt;
}
*/


/*
#gridTableContainerTest tbody.scrollContent {
/*  display: block; 
  height: 248px;
  overflow-y: scroll;
  width: 95%;
}



.gridTableHeadingsTest th.rotate > div > span {
  /* border-bottom: 1px solid black; */
  /* padding: 1px 1px; 
}
*/