@import "reset-min.css";
@import "base-min.css";
@import "fonts-min.css";
@import "grids-min.css";

body {
	font-size: 85%;
	font-family: "georgia";
}

.yui-t2, #bd, #yui-main {
	z-index: -5;
}

.yui-b, .yui-g {
	z-index: auto;
}

#header {
	margin-top: 15px;
	text-align: right;
}

.error_box {
	background-color: #ffffcc;
	border: 1px solid #dc143c;
	color: #DC143C;
	margin: 0 auto;
	overflow: auto;
	padding: 5px;
	position: relative;
	text-align: left;
	width: 90%;
	z-index: 5;
}

div.yui-b div.box {
	color: #333333;
	border: 1px solid #c6e1ec;
	margin-top: 15px;
}

div.yui-b div p.box-title {
	background: #0590C7;
	border-bottom: 2px solid #c6e1ec;
	color: #FFFFFF;
	display: block:
	font-size: 93%;
	font-weight: bold;
	margin: 1px;
	padding: 2px 10px;
}

a {
	color: #0590C7;
}

a:hover {
	color: #ff0000;
}

a.selected {
	font-weight: bold;
}

div.yui-b div ul {
	margin: 0;
}

div.yui-b div ul li {
	border-bottom: 1px solid #fff;
	list-style-type: none;
}

div.yui-b div ul li a {
	color: #333333;
	display: block;
	text-decoration: none;
	padding: 3px 10px;
}

div.yui-b div ul li a:hover {
	background: #c6e1ec;
	color: #333333;
}

.title {
	border-left: 15px solid #0590C7;
	padding-left: 10px;
}

.description{
	font-style: italic;
}

.product-list tbody tr td {
	border: none;
	padding: 0;
	width: 50%;
}

.product-list tbody tr td p img {
	border: 2px solid #c6e1ec;
	float: right;
	margin: 0 10px;
	vertical-align: top;
}

.product-title {
	border-left: 10px solid #0590C7;
	padding-left: 5px;
}

.section {
	display: block;
}

.price {
	font-weight: bold;
}

.old-price {
	color: #ff0000;
	font-weight: normal;
	text-decoration: line-through;
}

.product-image {
	border: 2px solid #c6e1ec;
}

ol {
	margin: 0px;
	padding: 0px 0px 0px 5px;
}

ol li {
	color: #0590C7;
	list-style-type: none;
	margin: 0px;
	padding: 5px 0px;
}